.agree {
    margin: 100px 0 190px;

    &-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 40px;
    }

    &-img {

    }

    &-img img {
        background-blend-mode: multiply;
        opacity: .67;
        border-radius: 8px;
    }
}