//fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;700;900&display=swap');

.wrapper-header {
    max-width: 1680px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper-main {
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper-stepfirst {
    max-width: 1680px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper-stepsecond {
    max-width: 1770px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper-agree {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0;
}

.wrapper-signup {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 20px;
}